<!doctype html>
<html>
<head>
	<style>
	body{
		margin: 0
	}

	.button{
		background-color: white:
		width: 100px;
		height: 100px;
		display: inline-block;
		margin-left: 50px;
		margin-right: 50px;

	}
	</style>
	<title>Grad to Engineer!</title>
</head>
<body>
	<div>
		<a href="/companylogin"> <button style="color:black" type="button" class="button">Company Login</button></a>
	</div>
	<div>
		<a href="/engineerlogin"> <button style="color:black" class="button"> Engineer Login</button></a>
	</div>
	
</body>
</html>